<connectionStrings>

  <add name="Connection String"
     connectionString="Data Source=DESKTOP-5VDC3QR; Initial Catalog=CRP; User ID=sa; Password=-1; TrustServerCertificate=False;"
     providerName="System.Data.SqlClient"/>

  <add name="ConnectionLoG"
       connectionString="Data Source=DESKTOP-5VDC3QR; Initial Catalog=Aff_Result_Log;User ID=sa; Password=-1"
       providerName="System.Data.SqlClient"/>

  <add name="UCAMEntities" connectionString="metadata=res://*/UCAMModel.csdl|res://*/UCAMModel.ssdl|res://*/UCAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5VDC3QR;initial catalog=CRP;persist security info=True;user id=sa;Password=-1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5VDC3QR;initial catalog=CRP_Admission;persist security info=True;user id=sa;password=-1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


</connectionStrings>

